<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %>  </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div align="center" style="padding-top:100px; ">
        <h2>View Employee <a href="/"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></h2>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th colspan="5">
                    <form action="/search" method="post">
                    <div class="col-md-11"><input type="input" name="searchF" placeholder="Enter Something...." class="form-control"/>
                    </div>
                    <div class="col-md-1"><input type="button" name="searchB" class="btn btn-primary" value="Search"/>
                    </div></form>
                </th>
            </tr>
            </thead>
            <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Phone</th>
                <th align="center">Action</th>
            </tr>
            </thead>
            <tbody>

            <% docs.forEach(function(thing){ %>
            <tr>
                <td><%= thing.Fname %></td>
                <td><%= thing.lname %></td>
                <td><%= thing.Email %></td>
                <td><%= thing.Mobile %></td>
                <td><a href="/Edit/<%= thing._id %>" data-toggle="modal" data-target="#<%= thing._id %>"><i
                                class="fas fa-pencil-alt"></i></a> &nbsp; <a href="/Delete/<%= thing._id %>"><i
                                class="fas fa-trash"></i></a></td>
            </tr>
            <div class="container">
                <!-- Modal -->
                <div class="modal fade" id="<%= thing._id %>" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Edit Information</h4>
                            </div>
                            <div class="modal-body">
                                <form action="/update/<%= thing.id %>" class="was-validated" align="left" method="post">
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label for="uname">First Name:</label>
                                            <input type="text" class="form-control" name="Fname"
                                                   placeholder="Enter First Name" value="<%= thing.Fname %>" required>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="uname">Last Name:</label>
                                            <input type="text" class="form-control" name="lname"
                                                   placeholder="Enter Last Name" value="<%= thing.lname %>" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label for="uname">Email:</label>
                                            <input type="email" class="form-control" name="Email"
                                                   placeholder="Enter Email " value="<%= thing.Email %>" required>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="uname">Phone:</label>
                                            <input type="text" class="form-control" name="Mobile"
                                                   placeholder="Enter Phone" value="<%= thing.Mobile %>" required>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary" style="width:100%">Submit</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <% }) %>

            </tbody>
        </table>
    </div>
</div>


</body>
</html>
